#math-percentage {
    position: absolute;
    width: 100%;
    display: none;
    text-align: right;
    color: red
}

#math-error-warning {
    position: absolute;
    width: 100%;
    margin-top: 60%;
    color: red;
    line-height: 1em;
    color: red;
    display: none
}

#math-prompt {
    width: 600px;
    text-align: center;
    font-size: 2.5em; 
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 1em;
}


#word-text {
    font-size: 100px;
    margin-top: 300px;
    text-align: center;
    line-height: 120px;
}

#recall-text {
    margin: 0 auto;
    font-family: helvetica, arial, sans-serif;
    font-size: 40px;
    text-transform: lowercase
}



#wrapper {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}


.bold {
    font-weight: bold;
}

#error textarea {
font-family: courier
}